<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.6" debug="true"/>
    <httpRuntime targetFramework="4.6"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <connectionStrings>
        <add name="Taradisyon" connectionString="Data Source=DESKTOP-EOGHU13\MSSQLSERVER2;&#xA;  Initial Catalog=Taradisyon; Persist Security Info=True; 
          User ID=enma; Password=1234" providerName="System.Data.SqlClient" />
    </connectionStrings>
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>